.login-screen {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/dc1cf82d-97c9-409f-b7c8-6ac1718946d6/9d525806-82c4-409f-85f8-d4caff6fbb49/FR-en-20230911-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    height: 100vh;
    width: 100vw;
}

.login-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.login-up img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}