.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 100%);

    overflow: hidden;
    scroll-behavior: smooth;
    /* width: 100vw; */
}

.row-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.row-content {
    animation: fade 1s ease-in-out;
}

.row-content :nth-child(n) {
    margin-right: 0.05rem;
    border-radius: 5px;
}

.scroll-btn {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: rgb(0, 0, 0);
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.scroll-btn:nth-of-type(1) {
    left: 82px;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.scroll-btn:nth-of-type(2) {
    right: 82px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.item>img {
    width: 16.66666666666667vw;
    height: 100%;
}


/* Path: src/components/Carousel.js */

.sliderimg {
    width: calc(16.66666666666667vw - 2*0.25vw);
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    padding: 0.25vw;
}

/* .alice-carousel__stage-item.__active {
    margin: 0.25vw;
} */

.carousel-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}