:root {
    --nav-background: #282c34;
    --font-color: rgba(229, 229, 229, 0.8);
    --font-color-hover: rgba(179, 179, 179, 0.65);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-background);
    color: var(--font-color);
    padding: 0 20px;
    height: var(--navbar-height);
}

.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.netblix-logo-container {
    width: 6rem;
    height: 100%;
    padding: 10px;
    /* border: 1px solid #ccc; */
    display: block;
    overflow: hidden;
    margin-left: 1rem;
}

.netblix-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.netblix-logo:hover {
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
}

.section-li-balise {
    color: var(--font-color);
    margin: 0 0.5rem 0 0.5rem;
}

.section-a-balise {
    text-decoration: none;
    color: var(--font-color);
    transition: color 0.3s ease;
}

.section-a-balise:active {
    color: none;
    text-decoration: none;
    cursor: default;
}

.section-a-balise:visited {
    color: none;
}

.section-a-balise:hover {
    color: var(--font-color-hover);
}